.home{
    height: 100vh;
    width: 100%;
    background-image: url("https://previews.123rf.com/images/scyther5/scyther51703/scyther5170300380/74151964-comida-fondo-cocina-ingrediente-cocina-concepto-vegetariano-vegetal-salud-vista-tabla-tabla-en-blanc.jpg");
    background-size: cover;
    background-position: center;
}
#bread{
    height: auto;
    width: 10%;
    margin-bottom: 20px;
    background-color: rgba(255, 243, 238, 0.8);
}
.checkbox-container{
    width: 20%;
    margin: 0 auto
}
.sandwich-image{
    width: 30%;
    height: 30%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    border-radius: 8%;
}
.breakfast{
    padding-top: 2%;
}
.button {
    text-decoration: none;
    color: black;
}