.recipies{
    background-image: url("https://previews.123rf.com/images/scyther5/scyther51703/scyther5170300380/74151964-comida-fondo-cocina-ingrediente-cocina-concepto-vegetariano-vegetal-salud-vista-tabla-tabla-en-blanc.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}