.container{
    display: flex;
    background-color: rgba(46, 44, 36, 0.3);
    padding: 10px;
}
.left{
    margin: 10px;
    flex: 1;
}
.right{
    flex: 2;
}
.img-left{
    justify-content: center;
    align-items: center;
    align-content: space-around;
    width: 60%;
    margin-left: 150px;
    opacity: 0.9;
    border-radius: 8%;
}
.img-left:hover{
    opacity: 1;
}
.right-content{
    display: flex;
}
.right-ul{
    flex: 0.7;
    list-style-type: none;
}
.right-prep{
    flex: 3;
    text-align: left;
    width : 100px;
    overflow:hidden;
    display:inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.right-li{
    text-align: left;
    text-decoration: none;
}
.right > h3 {
    margin-left: -200px;
}